html {
    orientation: portrait;
}

body {
    height: 100%;
    overflow-y: scroll;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.button {
    background-color: rgb(42 164 191);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: .5rem;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.25rem;
    position: sticky;
}

.button:hover {
    background-color: rgb(61, 180, 207);
}

.blueG {
    background-color: rgb(25, 54, 98);
}

.grayG {
    background-color: #e8edf0;
}

.yellowG {
    background-color: #ffd90d;
}

.blueFont {
    color: rgb(25, 54, 98);
}

.yellowFont {
    color: #ffd90d;
}

#overlay, #overlay2 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: none;

}

#overlay2 {
    background-color: rgba(0, 0, 0, 0.9);
}

#text, #text2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
    height: 100%;
}

#text2 {
    background-color: transparent;
    color: white;
    font-size: 20px;
}

#icon {
    border-radius: 50%;
  }

.underlineRed {
    text-decoration-line: underline;
    text-decoration-color: red;
}

.strike {
    text-decoration: line-through;
}